

#home{
    background:  url('https://ucarecdn.com/84eddbd6-5939-415e-9ae5-bdbb6cc58cf5/bghome.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}